* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 1rem;
}
header {
    display: flex;
    gap: 0.5rem;
}
main {
    margin-top: 2rem;
}
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 20rem;
}